input, button {
    font-family: "Montserrat", Arial, sans-serif;
}

input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    padding: 10px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1em;
    border-radius: 3px;
}

h3 {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1.3em;

    .material-symbols-outlined {
        font-size: 1.1em;
        vertical-align: -4px;
        color: #666;
    }
}

nav {
    margin-bottom: 30px;

    ul {
        border: none;

        li {
            a {
                padding: 8px 15px;
                background-color: #333;
                color: #fff;
                text-decoration: none;

                .material-symbols-outlined {
                    font-size: 1.1em;
                    vertical-align: -3px;
                    color: #ff4141;
                }

                &:hover {
                    background-color: #ddd;
                    color: #333;

                    .material-symbols-outlined {
                        color: #333;
                    }
                }

            }
        }
    }
}

table {
    width: 100%;

    thead {
        tr {
            th {
                padding: 10px;
                background-color: #ff4141;
                color: #fff;
                font-size: 1em;
                font-weight: 600;
                text-align: left;

                &.actions {
                    width: 10%;
                    text-align: center;
                }

                &.id {
                    width: 10%;
                    text-align: center;
                }
            }
        }
    }

    tr {
        background-color: #eee;

        &:hover {
            background-color: #ddd;
        }

        td {
            padding: 10px;

            a {
                color: #666;
                text-decoration: none;

                &:hover {
                    color: #ff4141;
                }
            }

            &.id {
                text-align: center;
            }
        }
    }
}

.breadcrumbs {
    display: flex;
    margin-bottom: 20px;

    .breadcrumb_item {
        .material-symbols-outlined {
            font-size: 16px;
            display: inline-block;
            vertical-align: -4px;
            margin: 0 0 0 4px;
        }

        a {
            color: #333333;
        }
    }
}
