@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $background_color;
    color: $global_font_color;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 200;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
