$background_color: #fff;
$global_font_color: #333;
$global_font_size: 16px;

// Navigation
$nav_font_color: #333;
$nav_font_color_active: #fff;
$nav_background_color: #fff;
$nav_background_color_hover: #eee;
$nav_background_color_active: #555;
$nav_sub_font_color: #fff;
$nav_sub_background_color: rgba(0, 0, 0, 0.7);
$nav_sub_background_color_hover: rgba(0, 0, 0, 0.8);
